In [53]:
%matplotlib inline 
import numpy as np 
import pandas as pd    
import warnings
warnings.filterwarnings("ignore")

In [54]:
df=pd.read_excel('Sales_Data.xlsx')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   datetime64[ns]
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 429.3+ KB

In [56]:
df.describe(include='all')

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
count,2747.000000,2747.000000,2747.000000,2747.000000,2747.000000,2747,2747.000000,2747,2747,2747.000000,2747,2747,2747,2747,2747,2747,2747,2747,2747,2747
unique,NaN,NaN,NaN,NaN,NaN,246,NaN,6,7,NaN,109,89,88,89,71,73,19,76,72,3
top,NaN,NaN,NaN,NaN,NaN,2018-11-14 00:00:00,NaN,Shipped,Classic Cars,NaN,S18_3232,Euro Shopping Channel,(91) 555 94 44,"C/ Moralzarzal, 86",Madrid,28034,USA,Freyre,Diego,Medium
freq,NaN,NaN,NaN,NaN,NaN,38,NaN,2541,949,NaN,51,259,259,259,304,259,928,259,259,1349
first,NaN,NaN,NaN,NaN,NaN,2018-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2020-05-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,10259.761558,35.103021,101.098951,6.491081,3553.047583,NaN,1757.085912,NaN,NaN,100.691664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,91.877521,9.762135,42.042548,4.230544,1838.953901,NaN,819.280576,NaN,NaN,40.114802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,10100.000000,6.000000,26.880000,1.000000,482.130000,NaN,42.000000,NaN,NaN,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,10181.000000,27.000000,68.745000,3.000000,2204.350000,NaN,1077.000000,NaN,NaN,68.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,10264.000000,35.000000,95.550000,6.000000,3184.800000,NaN,1761.000000,NaN,NaN,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,10334.500000,43.000000,127.100000,9.000000,4503.095000,NaN,2436.500000,NaN,NaN,124.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,10425.000000,97.000000,252.870000,18.000000,14082.800000,NaN,3562.000000,NaN,NaN,214.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
print("The shape of the data is ",df.shape)

The shape of the data is  (2747, 20)

In [58]:
print("There are ",df.duplicated().sum()," duplicates in the dataset")

There are  0  duplicates in the dataset

In [59]:
df_num = df.select_dtypes(exclude = ['object','datetime64[ns]'])

for columns in df_num.columns:
    print('Skewness of {} is'.format(columns), round(df_num[columns].skew(),2))
    print('Kurtosis of {} is'.format(columns), round(df_num[columns].kurt(),2))

Skewness of ORDERNUMBER is -0.01
Kurtosis of ORDERNUMBER is -1.15
Skewness of QUANTITYORDERED is 0.37
Kurtosis of QUANTITYORDERED is 0.44
Skewness of PRICEEACH is 0.7
Kurtosis of PRICEEACH is 0.23
Skewness of ORDERLINENUMBER is 0.58
Kurtosis of ORDERLINENUMBER is -0.59
Skewness of SALES is 1.16
Kurtosis of SALES is 1.77
Skewness of DAYS_SINCE_LASTORDER is -0.0
Kurtosis of DAYS_SINCE_LASTORDER is -1.02
Skewness of MSRP is 0.58
Kurtosis of MSRP is -0.14

In [60]:
df1=pd.read_excel('Sales-Binned.xlsx')
pd.set_option('display.max_columns', None)
df1.head()

,CUSTOMERNAME,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Recency,Frequency,Monetary,Recency [Binned],Frequency [Binned],Monetary [Binned],Recency Final,Frequency Final,Monetary Final
0,"AV Stores, Co.",1778.0,4645.31,18.0,51.0,421.0,Shipped,Classic Cars,4735.0,51.0,(171) 555-1555,Fauntleroy Circus,Manchester,EC2 5NT,UK,Ashworth,Victoria,Medium,197.0,3.0,157807.81,Bin 3,Bin 2,Bin 4,2,2,4
1,Alpha Cognac,687.0,2023.20,12.0,20.0,675.0,Shipped,Classic Cars,1943.0,20.0,61.77.6555,1 rue Alsace-Lorraine,Toulouse,31000,France,Roulet,Annette,Medium,65.0,3.0,70488.44,Bin 1,Bin 2,Bin 1,4,2,1
2,Amica Models & Co.,843.0,2882.17,17.0,26.0,328.0,Shipped,Classic Cars,2799.0,26.0,011-4988555,Via Monte Bianco 34,Torino,10100,Italy,Accorti,Paolo,Large,266.0,2.0,94117.26,Bin 4,Bin 1,Bin 3,1,1,3
3,"Anna's Decorations, Ltd",1469.0,4895.51,14.0,46.0,131.0,Shipped,Classic Cars,4817.0,46.0,02 9936 8555,201 Miller Street,North Sydney,2060,Australia,O'Hara,Anna,Small,84.0,4.0,153996.13,Bin 2,Bin 4,Bin 4,3,4,4
4,Atelier graphique,270.0,645.67,4.0,7.0,312.0,Shipped,Motorcycles,669.0,7.0,40.32.2555,"54, rue Royale",Nantes,44000,France,Schmitt,Carine,Medium,189.0,3.0,24179.96,Bin 3,Bin 2,Bin 1,2,2,1